:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "Raleway", sans-serif;

  --clr-neutral-100: #f3f2c9;
  --clr-neutral-900: #000;
  --clr-teal-200: #53b8bb;
  --clr-teal-500: #055052;
  --clr-teal-800: #003638;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: skyblue;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: skyblue;
  min-height: 20 v h;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-teal-800);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
